# ======================= CREDENTIALS ===========================
OPEN_AI_TOKEN=<token>
INSTAGRAM_CLIENT_ID=<client_id>
INSTAGRAM_CLIENT_SECRET=<client_secret>
INSTAGRAM_USER_ID=<client_user_id>
INSTAGRAM_GENERATED_TOKEN=<client_long_living_token>

# ======================= GENERIC CONFIGS =====================
# Engine to use when generating prompts and summaries
GENERATIVE_TEXT_ENGINE=text-davinci-003

# The prompt sent to generate the prompt we will use to build the image
IMAGE_PROMPT_GENERATION_PROMPT=give me a prompt for auto generated art for the artist {subject}

# The prompt used to generate the biography of the artist
SUMMARY_GENERATION_PROMPT=write a paragraph in less than 2400 characters of the artist {subject} and their life
